extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner ThreeJSGame
    div.Message
      div.Title Login
      span.Details Username
      input(
          type='text'
          name='username'
      )
      span.Details Password
      input(
          type='text'
          name='username'
      )
      div.NavButtons
        a(href="/user")
            div.NavButton Login